<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dingtalk.mapper.DingTalkSyncMapper">

    <select id="selectDeptByDingTalkDeptId" resultType="map">
        select dept_id, parent_id, ancestors, dept_name, status, dingtalk_dept_id
        from sys_dept
        where dingtalk_dept_id = #{dingtalkDeptId}
          and del_flag = '0'
        limit 1
    </select>

    <select id="selectDeptByDeptId" resultType="map">
        select dept_id, parent_id, ancestors, dept_name, status, dingtalk_dept_id
        from sys_dept
        where dept_id = #{deptId}
          and del_flag = '0'
        limit 1
    </select>

    <select id="selectDeptIdByDingTalkDeptId" resultType="java.lang.Long">
        select dept_id
        from sys_dept
        where dingtalk_dept_id = #{dingtalkDeptId}
          and del_flag = '0'
        limit 1
    </select>
    <insert id="insertDept" >
        insert into sys_dept
        (
            parent_id,
            ancestors,
            dept_name,
            order_num,
            status,
            del_flag,
            dingtalk_dept_id,
            create_by,
            create_time
        )
        values
            (
                #{parentId},
                #{ancestors},
                #{deptName},
                #{orderNum},
                '0',
                '0',
                #{dingtalkDeptId},
                #{createBy},
                now()
            )
    </insert>
    <update id="updateDept">
        update sys_dept
        set parent_id = #{parentId},
            ancestors = #{ancestors},
            dept_name = #{deptName},
            order_num = #{orderNum},
            status = #{status},
            update_by = #{updateBy},
            update_time = now()
        where dept_id = #{deptId}
    </update>

    <update id="disableDeptNotIn">
        update sys_dept
        set status = '1',
            update_by = #{updateBy},
            update_time = now()
        where dingtalk_dept_id is not null
          and del_flag = '0'
          and status = '0'
        <if test="dingtalkDeptIds != null and dingtalkDeptIds.size() > 0">
          and dingtalk_dept_id not in
          <foreach collection="dingtalkDeptIds" item="id" open="(" close=")" separator=",">
              #{id}
          </foreach>
        </if>
    </update>

    <select id="selectUserByDingTalkUserId" resultType="map">
        select user_id, dept_id, user_name, nick_name, status, del_flag, dingtalk_user_id
        from sys_user
        where dingtalk_user_id = #{dingtalkUserId}
          and del_flag = '0'
        limit 1
    </select>

    <insert id="insertUser">
        insert into sys_user
        (
            dept_id,
            user_name,
            nick_name,
            user_type,
            email,
            phonenumber,
            sex,
            avatar,
            password,
            status,
            del_flag,
            dingtalk_user_id,
            dingtalk_unionid,
            dingtalk_dept_id,
            dingtalk_job_number,
            dingtalk_post_name,
            dingtalk_missing_count,
            dimission_time,
            last_sync_time,
            create_by,
            create_time
        )
        values
        (
            #{deptId},
            #{userName},
            #{nickName},
            '00',
            #{email},
            #{phonenumber},
            '2',
            '',
            #{password},
            '0',
            '0',
            #{dingtalkUserId},
            #{dingtalkUnionid},
            #{dingtalkDeptId},
            #{jobNumber},
            #{postName},
            0,
            null,
            #{now},
            #{createBy},
            now()
        )
    </insert>

    <update id="updateUserActive">
        update sys_user
        set dept_id = #{deptId},
            nick_name = #{nickName},
            email = #{email},
            phonenumber = #{phonenumber},
            status = '0',
            del_flag = '0',
            dingtalk_unionid = #{dingtalkUnionid},
            dingtalk_dept_id = #{dingtalkDeptId},
            dingtalk_job_number = #{jobNumber},
            dingtalk_post_name = #{postName},
            dingtalk_missing_count = 0,
            dimission_time = null,
            last_sync_time = #{now},
            update_by = #{updateBy},
            update_time = now()
        where user_id = #{userId}
    </update>

    <update id="increaseMissingCountForAbsentUsers">
        update sys_user
        set dingtalk_missing_count = ifnull(dingtalk_missing_count, 0) + 1,
            last_sync_time = #{now},
            update_by = #{updateBy},
            update_time = now()
        where dingtalk_user_id is not null
          and del_flag = '0'
          and status = '0'
        <if test="activeUserIds != null and activeUserIds.size() > 0">
          and dingtalk_user_id not in
          <foreach collection="activeUserIds" item="id" open="(" close=")" separator=",">
              #{id}
          </foreach>
        </if>
    </update>

    <update id="disableMissingUsers">
        update sys_user
        set status = '1',
            dimission_time = ifnull(dimission_time, #{now}),
            update_by = #{updateBy},
            update_time = now()
        where dingtalk_user_id is not null
          and del_flag = '0'
          and status = '0'
          and ifnull(dingtalk_missing_count, 0) &gt;= #{threshold}
    </update>

    <update id="markUserDimission">
        update sys_user
        set status = '1',
            dimission_time = #{dimissionTime},
            update_by = #{updateBy},
            update_time = now()
        where dingtalk_user_id = #{dingtalkUserId}
          and del_flag = '0'
    </update>

</mapper>
